<footer id="footer" class="footer">
    <div class="footer-content inner-big">
        <div class="footer-directory">
            <div class="footer-directory-column">
                <h5>关于我们</h5>
                <p>托普沃德是一家在极速变化的电子商务环境中迅速发展的企业</p>
                <p>我们利用总部的IT研究所开发的B2B中继平台，推动一站式电子商务平台</p>
                <p>作为连接中国和韩国的内容提供商，我们提供涵盖制造、策划、进出口、分销等所有环节的全球解决方案</p>
            </div>
            <div class="footer-directory-column">
                <h5>公司地址</h5>
                <p>韩国总部：*********</p>
                <p>广州：*********</p>
                <p>威海：*********</p>
                <p>义乌：*********</p>
            </div>
            <div class="footer-directory-column">
                <h5>联系我们</h5>
                <p>品牌合作：****@****.***</p>
                <p>韩国热线：+82-***-****-****</p>
                <p>服务时间：周一至周五 09:00-18:30</p>
                <img src="/images/logo.png">
            </div>
        </div>
    </div>
</footer>
<script src="/js/header.js"></script>

<!-- 로딩페이지 -->
<div class="loadBack" style="opacity:1; position: fixed;left:0;right:0;top:0;bottom:0;background: rgb(225 225 225 / 50%);;filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000',endColorstr='#20000000');z-index:9999;display:none"></div>
<div id="loadImg" style="
    background-color: #3b9d52;
    width: 50px;
    height: 50px;
    display: none;
    position:absolute;
    left:47%;top:47%;
    z-index: 999999;
    border-radius: 50%;
">
