<header id="header" class="header nav-down <%= typeof activeMenu !== 'undefined' && activeMenu === 'home' ? 'active' : '' %>">
    <div class="header-inner inner-big">
        <div class="logo-main" onclick="location.href='/'">
            <img src="/images/logo.png">
        </div>
        <div class="menu">
            <ul class="menu-container">
                <li class="menu-item <%= typeof activeMenu !== 'undefined' && activeMenu === 'about' ? 'activce' : '' %>">
                    <a href="/about">关于我们</a>
                </li>
                <li class="menu-item <%= typeof activeMenu !== 'undefined' && activeMenu === 'business' ? 'activce' : '' %>">
                    <a href="/business">主要业务</a>
                </li>
                <li class="menu-item <%= typeof activeMenu !== 'undefined' && activeMenu === 'contact' ? 'activce' : '' %>">
                    <a href="/contact">联系我们</a>
                </li>
                <li class="menu-item" onclick="contactWrap()">
                    <a>客户支持</a>
                </li>
            </ul>
        </div>
        <div class="sub-link-container">
            <div class="lang-menu">
                <div class="lang-selected">
                    <img src="/images/earth_icon_b.png">
                    <span>CN</span>
                </div>
                <ul class="lang-container">
                    <li class="lang-item">
                        <span>CN</span>
                    </li>
                    <li class="lang-item">
                        <span>KR</span>
                    </li>
                </ul>
            </div>
            <div class="contactBt" onclick="contactWrap()">免费咨询</div>
            <div class="burger-menu">
                <span class="b-line"></span>
                <span class="b-line"></span>
                <span class="b-line"></span>
            </div>
        </div>
    </div>
    <div id="modal-wrap" class="modal-wrap">
        <div class="modal-content-wrap">
            <div class="modal-inner">
                <div class="modal-title-wrap">
                    <div class="modal-title">
                        <p>咨询</p>
                    </div>
                    <div id="modal-close" class="modal-close" onclick="modalClose()">
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <form action="" class="modal-content">
                    <div>
                        <label for="customerName">姓名</label>
                        <input type="text" id="customerName" class="valiList" name="customerName" required="" minlength="2" placeholder="姓名">
                    </div>
                    <div>
                        <label for="phone">联系电话</label>
                        <input type="text" id="phone" class="valiList" required="" pattern="[0-9]{3}[\-][0-9]{4}[\-][0-9]{4}" placeholder="联系电话">
                    </div>
                    <div>
                        <label for="customerCompany">公司名</label>
                        <input type="text" id="customerCompany" class="valiList" required="" placeholder="公司名">
                    </div>
                    <div>
                        <label for="customerEmail">电子邮箱</label>
                        <input type="email" id="customerEmail" class="valiList" required="" placeholder="电子邮箱">
                    </div>
                    <div>
                        <label for="inquiryTitle">产品类目</label>
                        <input type="text" id="inquiryTitle" class="valiList" required="" placeholder="产品类目">
                    </div>
                    <div>
                        <label for="inquiryText">简单说明</label>
                        <textarea type="text" id="inquiryText" class="valiList" required="" placeholder="简单说明" onkeyup="counter(this, 200)"></textarea>
                        <div id="reCount">
                            <span id="count-text">0 / 200</span>
                        </div>
                    </div>
                </form>
                <div class="result-bt" onclick="goWriteInquiry()">
                    免费咨询
                </div>
            </div>
        </div>
    </div>
</header>
