<section id="bi-main" class="bi-main">
    <div class="bi-inner inner-big">
        <div class="txt-box">
            <h3 class="txt">全球化思考 本地化运营</h3>
            <p>品牌力塑造 / 多元化布局 / 精细化运营</p>
            <p class="consultBtn" onclick="contactWrap()">方案咨询</p>
        </div>
        <div class="img-box">
            <img src="/images/one_stop_shop_bg.png">
        </div>
    </div>
</section>

<!-- section02 -->
<section class="section02">
    <div class="inner-small">
        <div class="text-wrap">
            <p class="main-title">
                托普沃德致力于帮助商户建立并发展<br>
                韩国电商业务提供一站式解决方案
            </p>
            <p class="sub-title">托普沃德是一家在极速变化的电子商务环境中迅速发展的企业<br>
                我们利用总部的IT研究所开发的B2B中继平台，推动一站式电子商务平台<br>
                作为连接中国和韩国的内容提供商，我们提供涵盖制造、策划、进出口、分销等所有环节的全球解决方案
            </p>
        </div>
        <ul class="CounterWrap">
            <li>
                <strong>3000<span>+</span></strong>
                <span>合作伙伴</span>
            </li>
            <li>
                <strong>31,172,163<span>+</span></strong>
                <span>累计出货</span>
            </li>
            <li>
                <strong>120,110<span>+</span></strong>
                <span>SKU</span>
            </li>
        </ul>
    </div>
</section>
<!-- section02 end -->

<!-- section03 -->
<section class="section03 serviceWrap">
    <div class="inner-small">
        <div class="text-wrap">
            <p class="main-title">企业文化</p>
        </div>
        <div class="service-inner">
            <div class="service-icon"> 
                <img src="/images/company_icon_01.png">
                <p>企业使命</p>
                <p>用我们的技术和服务帮助商户 建立并发展海外线上业务</p>
            </div>
            <div class="service-icon">
                <img src="/images/company_icon_02.png">
                <p>企业愿景</p>
                <p>成为中韩电商最有价值的服务平台 专业, 活力, 值得信赖的企业</p>
            </div>
            <div class="service-icon">
                <img src="/images/company_icon_03.png">
                <p>经营理念</p>
                <p>以诚信拓市场, 以管理求效益 以财务为中心 以经营为龙头</p>
            </div>
            <div class="service-icon">
                <img src="/images/company_icon_04.png">
                <p>顾客至上</p>
                <p>从顾客的角度思考并提供所需的价值 责任, 坦诚, 创新, 共赢</p>
            </div>
        </div>
    </div>
</section>
<!-- section03 end -->

<!-- section04 -->
<section class="section04">
    <div class="text-wrap">
        <p class="main-title">发展历程</p>
    </div>
    <!-- swiper -->
    <div class="swiper mySwiper inner-small swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-76104679d01d11f9b" aria-live="polite" style="cursor: grab; transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(152.5px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2022</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_01.png" alt="development_path_image_01">
                    </span>
                    <p>研发 PC-PDA 一站式平台<br> 制造, 策划, 进出口, 贸易, 物流仓储</p>
                </div>
            </div>
            <!-- 2022 -->
            <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2021</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_02.png" alt="development_path_image_02">
                    </span>
                    <p>成立仁川综合物流公司</p>
                </div>
            </div>
            <!-- 2021 -->
            <div class="swiper-slide" role="group" aria-label="3 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2020</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_03.png" alt="development_path_image_03">
                    </span>
                    <p>入驻 Coupang火箭仓<br>50,000 SKU</p>
                </div>
            </div>
            <!-- 2020 -->
            <div class="swiper-slide" role="group" aria-label="4 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2019</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_04.png" alt="development_path_image_04">
                    </span>
                    <p>成立中国义乌分公司</p>
                </div>
            </div>
            <!-- 2019 -->
            <div class="swiper-slide" role="group" aria-label="5 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2018</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_05.png" alt="development_path_image_04">
                    </span>
                    <p>成立中国义乌分公司</p>
                </div>
            </div>
            <!-- 2018 -->
            <div class="swiper-slide" role="group" aria-label="6 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2017</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_04.png" alt="development_path_image_04">
                    </span>
                    <p>中国(威海, 义乌, 广州) 分公司成立</p>
                </div>
            </div>
            <!-- 2017 -->
            <div class="swiper-slide" role="group" aria-label="7 / 7" style="width: 285px; margin-right: 20px;">
                <h3>2016</h3>
                <div class="devInfo">
                    <span class="imgWrap">
                        <img src="/images/development_path_image_06.png" alt="development_path_image_04">
                    </span>
                    <p>Connet Korea成立</p>
                </div>
            </div>
            <!-- 2016 -->
        </div>
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-76104679d01d11f9b" aria-disabled="false"></div>
        <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-76104679d01d11f9b" aria-disabled="true"></div>
        <!-- <div class="swiper-pagination"></div> -->
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>
<!-- section04 end -->

<!-- section05 -->
<section class="section05">
    <div class="text-wrap">
        <p class="main-title">企业荣誉</p>
    </div>
    <div class="inner-small">
        <ul class="achiContent">
            <li>
                <img src="/images/achi01.jpg" alt="achi01">
            </li>
            <li>
                <img src="/images/achi02.jpg" alt="achi02">
            </li>
            <li>
                <img src="/images/achi03.jpg" alt="achi03">
            </li>
            <li>
                <img src="/images/achi04.jpg" alt="achi04">
            </li>
            <li>
                <img src="/images/achi05.jpg" alt="achi05">
            </li>
            <li>
                <img src="/images/achi06.jpg" alt="achi06">
            </li>
            <li>
                <img src="/images/achi07.jpg" alt="achi07">
            </li>
            <li>
                <img src="/images/achi08.jpg" alt="achi08">
            </li>
            <li>
                <img src="/images/achi09.jpg" alt="achi09">
            </li>
            <li>
                <img src="/images/achi10.jpg" alt="achi10">
            </li>
            <li>
                <img src="/images/achi11.jpg" alt="achi11">
            </li>
            <li>
                <img src="/images/achi12.jpg" alt="achi12">
            </li>
        </ul>
    </div>
</section>
<!-- section05 end -->

<section class="partnerWrap">
    <div class="inner-small">
        <div class="text-wrap">
            <p class="main-title">合作伙伴</p>
        </div>
        <div class="partner-inner">
            <ul class="partner-logo">
                <li>
                    <img src="/images/partner_01.png">
                </li>
                <li>
                    <img src="/images/partner_02.png">
                </li>
                <li>
                    <img src="/images/partner_03.png">
                </li>
                <li>
                    <img src="/images/partner_04.png">
                </li>
                <li>
                    <img src="/images/partner_05.png">
                </li>
                <li>
                    <img src="/images/partner_06.png">
                </li>
            </ul>
            <ul class="partner-logo">
                <li>
                    <img src="/images/partner_07.png">
                </li>
                <li>
                    <img src="/images/partner_08.png">
                </li>
                <li>
                    <img src="/images/partner_09.png">
                </li>
                <li>
                    <img src="/images/partner_10.png">
                </li>
                <li>
                    <img src="/images/partner_11.png">
                </li>
                <li>
                    <img src="/images/partner_12.png">
                </li>
            </ul>
            <ul class="partner-logo">
                <li>
                    <img src="/images/partner_13.png">
                </li>
                <li>
                    <img src="/images/partner_14.png">
                </li>
                <li>
                    <img src="/images/partner_15.png">
                </li>
                <li>
                    <img src="/images/partner_16.png">
                </li>
                <li>
                    <img src="/images/partner_17.png">
                </li>
                <li>
                    <img src="/images/partner_18.png">
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- section07 -->
<section class="section07">
    <div class="inner-small">
        <div class="text-wrap">
            <p class="main-title">公司地址</p>
        </div>
        <div class="addressWrap">
            <div class="WrapInner">
                <h3>韩国总部</h3>
                <div class="txtWrap">
                    <p>品牌合作:****@****.***</p>
                    <p>韩国热线:+82-***-****-****</p>
                    <p>地址:*********</p>
                </div>
            </div>
            <div class="WrapInner">
                <h3>广州分公司</h3>
                <div class="txtWrap">
                    <p>电话:***-****-****</p>
                    <p>地址:*********</p>
                </div>
            </div>
            <div class="WrapInner">
                <h3>义乌分公司</h3>
                <div class="txtWrap">
                    <p>电话:***-****-****</p>
                    <p>地址:*********</p>
                </div>
            </div>
            <div class="WrapInner">
                <h3>威海分公司</h3>
                <div class="txtWrap">
                    <p>电话:***-****-****</p>
                    <p>地址:*********</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section07 end -->

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 20,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 10
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 15
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 20
            },
            1024: {
                slidesPerView: 4,
                spaceBetween: 20
            }
        }
    });
</script>
