<section id="bi-main" class="bi-main">
    <div class="bi-inner inner-big">
        <div class="txt-box">
            <h3 class="txt">全球化思考 本地化运营</h3>
            <p>品牌力塑造 / 多元化布局 / 精细化运营</p>
            <p class="consultBtn" onclick="contactWrap()">方案咨询</p>
        </div>
        <div class="img-box">
            <img src="/images/solution_bg.png">
        </div>
    </div>
</section>
<section id="bi-tabWrap" class="bi-tabWrap">
    <ul class="tab-inner inner-small">
        <li class="tab_item active" data-tab="tab-1">注册公司</li>
        <li class="tab_item" data-tab="tab-2">全方位运营</li>
        <li class="tab_item" data-tab="tab-3">WMS仓储管理系统</li>
        <li class="tab_item" data-tab="tab-4">物流平台</li>
    </ul>
</section>
<!-- 자산 -->
<div id="tab-1" class="tab-content active">
    <section id="commerceWrap" class="commerceWrap">
        <div class="commerceInner inner-small">
            <div class="text-wrap">
                <p class="main-title">一站式全流程韩国电商创业解决方案</p>
                <p class="sub-title">10年韩国本地实战经验积累, 为您提供更专业的高效服务</p>
            </div>
            <div class="coWrap">
                <div class="coWrapList">
                    <img src="/images/property_01.png">
                    <strong>公司注册</strong>
                </div>
                <div class="coWrapList">
                    <img src="/images/property_02.png">
                    <strong>税务/代理记账</strong>
                </div>
                <div class="coWrapList">
                    <img src="/images/property_03.png">
                    <strong>资质代办/秘书服务</strong>
                </div>
                <div class="coWrapList">
                    <img src="/images/property_04.png">
                    <strong>KC认证</strong>
                </div>
                <div class="coWrapList">
                    <img src="/images/property_05.png">
                    <strong>商标注册</strong>
                </div>
                <div class="coWrapList">
                    <img src="/images/property_06.png">
                    <strong>投资签证</strong>
                </div>
            </div>
        </div>
    </section>
    <section id="pr-contentWrap" class="pr-contentWrap">
        <div class="prp-inner inner-small">
            <div class="text-wrap">
                <p class="main-title">注册韩国公司的优势</p>
            </div>
            <div class="pr-point-Wrap">
                <div class="prWrapList">
                    <span>
                        <img src="/images/property_07.png">
                    </span>
                    <strong>IT 强国</strong>
                    <p>高达68%的世界最高水平的 手机普及率</p>
                </div>
                <div class="prWrapList">
                    <span>
                        <img src="/images/property_09.png">
                    </span>
                    <strong>市场规模</strong>
                    <p>全球排名第四, 预计未来5年的 复合增长率8.7%</p>
                </div>
                <div class="prWrapList">
                    <span>
                        <img src="/images/property_08.png">
                    </span>
                    <strong>市场需求</strong>
                    <p>2023年韩国跨境电商交易总额为 3兆+韩元, 比前年增长2.2倍</p>
                </div>
                <div class="prWrapList">
                    <span>
                        <img src="/images/property_10.png">
                    </span>
                    <strong>地理位置</strong>
                    <p>地理位置绝佳, 方便 企业管理</p>
                </div>
            </div>
        </div>
    </section>
    <section id="arrowWrap" class="arrowWrap">
        <div class="arrowInner inner-small">
            <div class="text-wrap">
                <p class="main-title">韩国公司办理流程</p>
            </div>
            <div class="imgBoxWrap">
                <div class="arrowImgBox">
                    <p>STEP 01</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 02</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 03</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 04</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 05</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 06</p>
                </div>
            </div>
            <div class="pointBoxWrap">
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_ta01.png"></li>
                    <li>签约</li>
                    <li>签署委托协议<br>预付注册款项<br>国际认证</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_ta02.png"></li>
                    <li>提交</li>
                    <li>提交韩国相关机构<br>注册公司及税务登记</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_ta03.png"></li>
                    <li>开户</li>
                    <li>银行提交报告<br>银行开户<br>公司注册资金验资</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_ta04.png"></li>
                    <li>办理</li>
                    <li>办理手机SIM卡<br>办公地址申请</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_ta06.png"></li>
                    <li>审核</li>
                    <li>申请通信销售证明<br>注册法人登记申请</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_ta05.png"></li>
                    <li>完成</li>
                    <li>领取公司<br>注册文件</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="bi-contentWrap" class="bi-contentWrap">
        <div class="text-wrap">
            <p class="main-title">核心优势</p>
        </div>
        <div class="ctp-inner inner-small">
            <div class="point-Wrap">
                <div>
                    <img src="/images/bi_point_05.png">
                    <p>无隐形费用<br>所有费用一次性列清</p>
                </div>
                <div>
                    <img src="/images/bi_point_06.png">
                    <p>资深中韩双语服务团队<br>尽最大的努力满足客户需求</p>
                </div>
                <div>
                    <img src="/images/bi_point_07.png">
                    <p>实时掌控<br>办理进度一清二楚</p>
                </div>
                <div>
                    <img src="/images/bi_point_08.png">
                    <p>为您的企业全方位助力<br>服务至上, 省心省力</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- 운영 -->
<div id="tab-2" class="tab-content">
    <section id="bi-contentWrap" class="bi-contentWrap">
        <div class="ct-inner inner-small">
            <img src="/images/business_main_img.png">
            <p class="main-title">韩国电商本地化一站式解决方案</p>
        </div>
        <div class="ctp-inner inner-small">
            <div class="point-Wrap">
                <div>
                    <img src="/images/bi_point_01.png">
                    <p>快速入驻 Coupang, Naver, 11ST, GMARKET 等韩国主流电商平台</p>
                </div>
                <div>
                    <img src="/images/bi_point_02.png">
                    <p>产品上架, 文案撰写, 图片设计, 详情页制作</p>
                </div>
                <div>
                    <img src="/images/bi_point_03.png">
                    <p>本地化语言翻译, 优化商品列表, 等精细化管理服务</p>
                </div>
                <div>
                    <img src="/images/bi_point_04.png">
                    <p>售前售后客服管理, 以及相关咨询服务</p>
                </div>
            </div>
        </div>
    </section>
    <section id="arrowWrap" class="arrowWrap">
        <div class="arrowInner inner-small">
            <div class="text-wrap">
                <p class="main-title">电商运营服务流程</p>
            </div>
            <div class="imgBoxWrap">
                <div class="arrowImgBox">
                    <p>STEP 01</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 02</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 03</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 04</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 05</p>
                </div>
                <div class="arrowImgBox">
                    <p>STEP 06</p>
                </div>
            </div>
            <div class="pointBoxWrap">
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_01.png"></li>
                    <li>初步沟通</li>
                    <li>了解所需及产品调研</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_02.png"></li>
                    <li>制订方案</li>
                    <li>市场分析<br>企划/选品<br>前期准备</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_03.png"></li>
                    <li>项目启动</li>
                    <li>平台入驻<br>产品上架/入库<br>对接/分工</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_04.png"></li>
                    <li>深度运营</li>
                    <li>营销方案制订<br>渠道推广<br>品牌管理</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_05.png"></li>
                    <li>物流支持</li>
                    <li>支持中国仓<br>韩国仓服务</li>
                </ul>
                <ul class="pointBox">
                    <li><img src="/images/Arrow_point_06.png"></li>
                    <li>客服咨询</li>
                    <li>售前售后客服<br>相关咨询业务</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="coupangWrap" class="coupangWrap">
        <div class="coupangInner inner-small">
            <div class="text-wrap">
                <p class="main-title">我们的案例</p>
            </div>
            <div class="coupangImgBox">
                <img src="/images/coupang_img.png">
                <p>精心策划专为Coupang 平台打造的 沐浴球, 稳居该品类1~10 位 并销量稳定</p>
            </div>
        </div>
    </section>
</div>
<!-- WMS -->
<div id="tab-3" class="tab-content">
    <section id="bi-contentWrap" class="bi-contentWrap">
        <div class="ct-inner inner-small">
            <img src="/images/wms_main.png">
            <p class="main-title">WMS仓储管理系统</p>
        </div>
        <div class="wmsInner inner-small">
            <div class="wmsWrap">
                <div class="wmsList">
                    <img src="/images/WMS_image_01.png">
                    <strong>SKU数字化管理</strong>
                    <p>多平台, 多仓库 SKU 库存统一管理, 出入库可量化计算</p>
                </div>
                <div class="wmsList">
                    <img src="/images/WMS_image_02.png">
                    <strong>产品库</strong>
                    <p>较全的店铺和商品数据库, 随时取用, 随时调去</p>
                </div>
                <div class="wmsList">
                    <img src="/images/WMS_image_03.png">
                    <strong>管理库存量</strong>
                    <p>各项成本, 产品内容, 销量数据及采购工具一目了然</p>
                </div>
                <div class="wmsList">
                    <img src="/images/WMS_image_04.png">
                    <strong>无纸化配货管理</strong>
                    <p>PDA 拣货, 优化路径</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- 물류 -->
<div id="tab-4" class="tab-content">
    <section id="bi-contentWrap" class="bi-contentWrap">
        <div class="ct-inner inner-small">
            <img src="/images/wms_sub.png">
            <p class="main-title">物流平台</p>
        </div>
        <div class="ctp-inner inner-small">
            <div class="point-Wrap">
                <div>
                    <img src="/images/bi_point_01.png">
                    <p>物流API对接, 自动匹配最低物流运费</p>
                </div>
                <div>
                    <img src="/images/bi_point_02.png">
                    <p>对接第三方物流公司对接物流询价功能, 快速找到物流公司</p>
                </div>
                <div>
                    <img src="/images/bi_point_03.png">
                    <p>实施查看包裹跟踪信息</p>
                </div>
                <div>
                    <img src="/images/bi_point_04.png">
                    <p>代理从中国到韩国的本地仓库和物流入库服务</p>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function(){
        $('.tab_item').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('.tab_item').removeClass('active');
            $('.tab-content').removeClass('active');

            $(this).addClass('active');
            $("#"+tab_id).addClass('active');
        });
    });
</script>
